@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #D9D9D9;
    font-family: 'Poppins', 'Sans-Serif';
}

#menu {
    padding: 15px;
    width: 250px;
    height: calc(100vh - 30px);
    overflow-y: auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

#content {
    margin-left: 260px;
    flex: 1;
    padding: 20px;
}

#menu i {
    margin-right: 7px;
}

#menu h2 {
    color: #000000;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    margin-bottom: 10px;
}

#menu a {
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    padding: 8px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#menu a:hover {
    background-color: #c7c7c7;
}

#menu a.active {
    background-color: #c7c7c7;
}

.form-container h2 {
    font-weight: 300;
}

.form-container h2 .nome_utilizador {
    color: #FF8743;
}

.form-container h3 {
    font-weight: 300;
    display: block;
    width: 100%;
}

.form-container h3 .elite {
    color: #000000;
}

.form-container h3 .cars {
    color: #FF8743;
}

.form-container {
    margin-top: 30px;
    text-align: center;
}

#previewImage {
    transition: all 0.3s ease;
    width: 200px;
    height: 200px;
    border: 2px solid #9c9c9c;
    border-radius: 5px;
    background-color: #cccccc;
    display: inline-block;
    margin: 0 auto;
}

.form-container img:hover {
    cursor: pointer;
    background-color: #9c9c9c;
}

.container-infos {
    display: flex;
    justify-content: center;
}

.informacoes,
.seguranca {
    flex: 1;
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.container-infos a {
    color: rgb(0, 102, 255);
    text-decoration: none;
}

.container-infos h3 {
    font-weight: 500;
}


.container-infos h4 {
    font-weight: 200;
}

.form-container label.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.form-container label.custom-file-upload:hover {
    background-color: #2980b9;
}

.form-container input[type="file"] {
    display: none;
}

.image-upload-container {
    text-align: center;
    margin-bottom: 5px;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.hidden-submit {
    display: none;
}

#submit-zezoca,
#submit-cancelar {
    flex: 0;
    margin: 0 5px;
    padding: 5px 15px;
    background: #FF8743;
    color: white;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

.account-info {
    font-family: 'Poppins', 'Sans-serif';
    margin-left: 50px;
    max-width: 93%;
    max-height: 93%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.account-info h2 {
    font-weight: 600;
    margin-top: 0px;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

#content-account-info {
    margin-left: 10px;
}

.adjust-labels {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    position: relative;
}

.form-group .bx.bxs-edit {
    position: absolute;
    top: 50%;
    right: 25px;
    color: #888;
    cursor: pointer;
}

.account-info #content-account-info>div {
    flex: 1;
}

#content-account-info .form-group:not(:last-child) {
    margin-right: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group input {
    width: calc(100% - 16px);
    background-color: #ededed;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
}

.form-group select {
    width: calc(100% - 16px);
    background-color: #ededed;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
}

.form-group input {
    padding-right: 30px;
    pointer-events: none;
}

.form-group.active input {
    pointer-events: auto;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 17px;
}

.btn-atualizar {
    border-radius: 5px;
    font-weight: 600;
    background: #FF8743;
    border: 2px solid #FF8743;
    padding: 10px;
    width: 150px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.btn-redf {
    border-radius: 5px;
    font-weight: 600;
    background: transparent;
    border: 2px solid #FF8743;
    padding: 10px;
    width: 150px;
    text-align: center;
    color: #FF8743;
    cursor: pointer;
    margin-right: 10px;
}

.content-reset {
    margin-left: 10px;
}

.content-reset label {
    display: block;
    margin-bottom: 8px;
}

.content-reset input {
    width: calc(100% - 16px);
    background-color: #ededed;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
}

.content-reset input {
    padding-right: 30px;
}
