@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.menu-lateral {
    padding: 15px;
    width: 250px;
    height: calc(100vh - 30px);
    overflow-y: auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.menu-lateral h2 {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-lateral li {
    margin-bottom: 10px;
}

.menu-lateral a {
    text-decoration: none;
    color: #000000;
    font-size: 1em;
    transition: color 0.3s ease;
}

.menu-lateral a:hover {
    color: #FF8743;
}

.chat-content {
    max-height: 60%;
    height: 100%;
    margin-left: 260px;
    flex: 1;
    padding: 20px;
    text-align: center;
}

.messages-container {
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.699);
    margin-left: 10px;
    text-align: left;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea {
    margin-left: 5px;
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    padding: 10px;
    background-color: #FF8743;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF8743;
}