@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D9D9D9;
    overflow-x: hidden;
}

.topnav {
    background-color: #D9D9D9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 1000;
    transition: all 0.2s ease;
}


.logo {
    margin-left: 20px;
    color: #000;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 9.6px;
}

.nav-buttons {
    display: flex;
    margin-right: 50px;
}

.topnav a {
    color: #000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
}

.topnav a.register {
    display: flex;
    align-items: center;
    color: #000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
}

.topnav a.login {
    border-radius: 5px;
    font-weight: 600;
    background: #FF8743;
    border: 2px solid #FF8743;
    padding: 10px;
    width: 110px;
    text-align: center;
    color: white;
}

.topnav a.logo {
    color: #000;
    font-family: 'Krona One', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 9.6px;
    text-decoration: none;
}

.topnav a.logo:hover {
    color: #000;
}

.scroll-bg {
    background-color: #c9c9c9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to 100vh */
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
}



.text {
    top: 10px;
    position: absolute;
    margin-bottom: 0;
    max-width: 60%;
    padding: 5vw;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.2vw;
    z-index: 2;
    left: 0;
}

.text .highlight {
    color: #FF8743;
}

.image {
    max-width: 50%;
    padding: 2vw;
    position: relative;
    left: 7vw;
    margin-left: 0;
}

.buttons .button_comprar,
.buttons .button_testdrive {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 200px;
}

.button_comprar {
    border-radius: 5px;
    background: #FF8743;
    border: 2px solid #FF8743;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 20vh;
    animation: glowing 1500ms infinite;
}

.button_testdrive {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #000000;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-left: 3vh;
    width: 250px;
}


.buttons {
    display: flex;
    margin-top: 45vh;
    margin-bottom: 4vh;
}

.button:hover {
    background: #FF6F28;
}

.product-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(255, 135, 67);
    font-size: 2vw;
    line-height: 1em;
    letter-spacing: 0.2vw;
    text-align: center;
    margin-top: 20px;
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Set height to 100% */
}


.product-section {
    width: 80%;
    margin: 0 auto;
    margin-top: 0; 
}


.product {
    margin-left: 5%;
    display: flex;
    align-items: flex-start;
}

.product-img {
    box-shadow: 0px 2px 10px rgb(255, 135, 67, 0.5);
    height: auto;
    max-width: 100%;
    text-align: center;
    margin: 15px;
    padding: 15px;
    border: 2px solid #FF8743;
    border-radius: 10px;
}

.product img {
    max-width: 80%;
    height: 190px;
    border-radius: 4px;
}

button {
    border-radius: 5px;
    background: #FF8743;
    border: 2px solid #FF8743;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: calc(100% - 30px);
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

button:nth-child(3) {
    background: transparent;
    color: #FF8743;
    border: 2px solid #FF8743;
}

button:nth-child(2) {
    animation: glowing 1500ms infinite;
}

button:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.product-info {
    font-family: 'Poppins', 'Sans-serif';
    flex-grow: 1;
    padding: 0 15px;
    max-width: 60%;
}

.product-name {
    font-family: 'Poppins', 'Sans-serif';
    font-weight: 600;
    font-size: 2em;
}

.product-details {
    text-align: justify;
    font-size: 15px;
    margin-top: 10px;
}

.price span {
    font-size: 1.5em;
    font-weight: 600;
    color: #FF8743;
    margin-top: auto;
}

.price {
    position: relative;
}

.price span:not(:last-child):not(:nth-child(4)) {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: flip 3s infinite;
    animation-delay: calc(0.3s * var(--i));
}


@media screen and (max-width: 1024px) {
    .container img {
        width: 150%;
    }

    .text {
        max-width: 50%;
        margin-top: 30px;
        font-size: 2.5vw;
        line-height: 1.5em;
    }

    .buttons .button_comprar,
    .buttons .button_testdrive {
        width: 160px;
    }

    .buttons {
        margin-top: 45vh;
    }
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text {
        margin-left: 5vw;
        margin-top: 10vh;
        margin-bottom: 20px;
        font-size: 4vw;
        line-height: 1.5em;
        max-width: 80%;
        text-align: center;
        width: 100%;
        order: 1;
    }

    .image {
        max-width: 50%;
        margin-right: 250px;
        margin-top: 20px;
        margin-bottom: 20px;
        order: 2;
    }

    .buttons {
        justify-content: center;
        width: 100%;
        order: 3;
    }

    .buttons .button_comprar,
    .buttons .button_testdrive {
        width: 150px;
    }
}



@keyframes flip {

    0%,
    70% {
        transform: rotateY(360deg);
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 3px #FF8743;
    }

    50% {
        box-shadow: 0 0 20px #FF8743;
    }

    100% {
        box-shadow: 0 0 3px #FF8743;
    }
}