@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #D9D9D9;
    font-family: 'Poppins', 'Sans-Serif';
}

.items-container {
    text-align: center;
}

.item {
    border: 1px solid rgba(217, 217, 217, 0.8);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    background: rgba(217, 217, 217, 0.8);
    border: 2px solid #FF8743;
    border-radius: 10px;
    box-shadow: 0 0 10px #FF8743;
}

.item img {
    margin-top: 20px;
    margin: 10px;
}

.item h3 {
    font-family: 'Poppins', 'Sans-Serif';
    font-weight: 700;
    font-size: 25px;
    margin: 10px;
}

.item .price {
    margin-bottom: 10px;
}

.veiculos {
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: calc(65% + 30px);
}

.pesquisa {
    display: flex;
}

.pesquisa input {
    font-size: 15px;
    width: calc(100%);
    background-color: #ededed;
    padding: 20px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.pesquisa button {
    cursor: pointer;
    background-color: #FF8743;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0 4px 4px 0;
}

.categoria {
    margin-top: 10px;
}

.categoria h2 {
    font-size: 25px;
    font-weight: 500;
}

.categoria label {
    font-size: 14px;
}

.form-group {
    width: 20%;
    display: inline-block;
}

.form-group-1 {
    display: inline-block;
}

.categoria select,
.categoria input {
    width: 95%;
    background-color: #ededed;
    padding: 10px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.categoria input {
    width: 20%;
}

.line-vehicles {
    margin-top: 15px;
    border: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}

.marca-modelo {
    margin-top: 10px;
}

.marca-modelo label {
    font-size: 14px;
}

.marca-modelo select,
.marca-modelo input {
    width: 95%;
    background-color: #ededed;
    padding: 10px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.buttons .button_detalhes {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 200px;
}

.button_detalhes {
    border-radius: 5px;
    background: #FF8743;
    border: 2px solid #FF8743;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 250px;
    animation: glowing 1500ms infinite;
}

.price span {
    font-size: 1.5em;
    font-weight: 600;
    color: #FF8743;
    margin-top: auto;
}

.price {
    position: relative;
}

.price span:not(:last-child):not(:nth-child(3)) {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: flip 3s infinite;
    animation-delay: calc(0.3s * var(--i));
}

.buttons {
    justify-content: center;
    display: flex;
}

#favoritos {
    margin-top: 20px;
    background-color: #FF8743;
}

#favoritos:checked~.checkmark {
    background-color: #FF8743;
}

@keyframes flip {
    0%,
    70% {
        transform: rotateY(360deg);
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 3px #FF8743;
    }

    50% {
        box-shadow: 0 0 20px #FF8743;
    }

    100% {
        box-shadow: 0 0 3px #FF8743;
    }
}